@import "../bower_components/normalize-scss/normalize";

* {
  box-sizing: border-box;
}

/* Variables
   ========================================================================== */

$black:     #231f20;
$darkGray:  #484443;
$gray:      #bba795; // Not actually gray...
$lightGray: #e7ddc9;
$white:     #f4eee8;

$orange:    #cd9066;
$yellow:    #e8d18a;
$blue:      #7eabc8;
$green:     #abb498;

/* Mixins
   ========================================================================== */

// Taken from H5BP:
// https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css
@mixin clearfix() {
  &:before,
  &:after {
  content: " ";
  display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin font-sans {
  font-family: Futura, "Helvetica Neue", sans-serif;
}
@mixin font-mono {
  font-family: "Courier New", Courier, monospace;
}

/* Defaults
   ========================================================================== */

html {
  @include font-sans;

  background-color: #484443;
  color: #222;
  font-size: 100%;
  line-height: 1.4;
}
.site {
  position: relative;
}
.site__header {
  background-color: $orange;
  border-right: 4px solid $black;
  color: #000;
  height: 100%;
  left: 0;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 240px;

  h1 {
    border-bottom: 2px solid $black;
    font-size: 120%;
    margin: 0 0 1em;
    padding: 0 0 .5em;
    text-align: center;
    text-transform: uppercase;
  }
}
.site__content {
  @include clearfix;

  margin-left: 240px;
  padding: 1em 0 0 1em;
}
.site__footer {
  color: $gray;
  bottom: 0;
  right: 0;
  padding: .5em 1em;
  position: fixed;
  text-align: right;

  a {
    color: $gray;
  }
  small {
    font-size: 50%;
    text-transform: uppercase;
  }
}

/* Add Form
   ========================================================================== */

#add-form {
  margin: 0 0 1em;

  label {
    display: block;
    margin: 0 0 .75em;

    .label {
      display: block;
      font-size: 80%;
      text-transform: uppercase;
    }
    .instructions {
      font-size: 50%;
      opacity: .66;
      text-transform: uppercase;
    }
  }
  input[type="text"],
  input[type="number"] {
    @include font-mono;

    background-color: $white;
    border: $black solid 2px;
    box-shadow:
      1px 1px $black,
      2px 2px $black;
    color: $darkGray;
    font-weight: 700;
    padding: .25em .5em;
    width: 100%;
  }
  br {
    display: none;
  }
  button {
    background-color: $orange;
    border: $black solid 2px;
    box-shadow:
      1px 1px $black,
      2px 2px $black;
    color: $black;
    display: inline-block;
    font-size: 80%;
    font-weight: 700;
    margin: .5em 0;
    padding: .25em .5em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
}

/* Beer
   ========================================================================== */

.beer {
  @include clearfix;

  background-color: $yellow;
  border: 2px solid $black;
  box-shadow:
    1px 1px $black,
    2px 2px $black;
  float: left;
  margin: 0 1em 1em 0;
  position: relative;
  width: 240px;

  img {
    float: right;
    height: auto;
    width: 100px;
  }
}
.beer__name {
  @include font-mono;
  border-bottom: 2px solid $black;
  font-size: 100%;
  font-weight: 400;
  line-height: inherit;
  margin: 0;
  padding: .5rem 1rem;

  &:before {
    @include font-sans;

    content: "Beer: ";
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.beer__brewery {
  @include font-mono;

  border-bottom: 2px solid $black;
  font-size: 100%;
  font-weight: 400;
  line-height: inherit;
  margin: 0;
  padding: .5rem 1rem;

  &:before {
    @include font-sans;

    content: "Brewery: ";
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.beer__rating {
  border-bottom: 2px solid $black;
  font-size: 50%;
  font-weight: 700;
  margin: 0;
  padding: .5rem 1rem;
  text-transform: uppercase;

  strong {
    @include font-mono;

    font-size: 1rem;
    font-weight: 400;
  }
  span {
    font-size: .8rem;
  }
  &:before {
    content: "Rating: ";

    font-size: .8rem;
  }
}
.beer__tags {
  @include clearfix;

  border-bottom: 2px solid $black;
  list-style-type: none;
  margin: 0;
  padding: .5em 1em 0 1em;

  li {
    @include font-mono;

    background-color: $darkGray;
    color: $yellow;
    display: block;
    float: left;
    font-size: 80%;
    font-weight: 700;
    line-height: 1;
    margin: 0 .5em .5em 0;
    padding: .33em .5em;
    position: relative;
    text-transform: uppercase;
  }
}

/**
 * Controls. The "Edit" and "Remove" buttons.
 */
.beer__controls {
  @include clearfix;

  padding: 1rem;
}
%beer__button {
  background-color: $blue;
  border: 2px solid $black;
  color: $black;
  display: inline-block;
  float: left;
  font-size: 80%;
  font-weight: 700;
  padding: .25em .5em;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}
.beer__edit {
  @extend %beer__button;

  border-right-width: 1px;
  color: $white;
}
.beer__remove {
  @extend %beer__button;

  background-color: $orange;
  border-left-width: 1px;
  color: $white;
}

